{% extends 'base.html' %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
          crossorigin="anonymous"></script>

<script>
$(function() {
    $('#sendbutton').click(function(e) {
    	e.preventDefault();
    	if( document.getElementById("imageinput").files.length != 0 ){
    	
        var form_data = new FormData($('#upload-file')[0]);
        $.ajax({
            type: 'POST',
            url: '/capture',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(result) {
            	document.getElementById("download").style.display = "block";
                document.getElementById('imagebox').src = 'data:image/png;base64,'+result['image'];
                document.getElementById("download").href= "data:image/png;base64,"+result['image'];
            },
            error: function(result) {
            	console.log("error")
            }
        });
    }
    });
});
</script>
{% endblock %}

{% block body %}
	{% if predicted %}
	<img src="data:image/png;base64,{{ img }}"/>
	{% endif %}

<!-- 	<form action="{{url_for('show')}}", method="post", enctype=multipart/form-data>
		<input type="file" class="form-control-file", name="img",style="width:200px", accept="image/*" single/>
		<input type="submit" class="btn btn-primary" value="predict" />
	</form> -->

<div class="box">
	<form id="upload-file" method="post" enctype="multipart/form-data">
		<input id="imageinput" type="file" name="image">
		<button name="send" id = "sendbutton">Send</button>
		<hr>
		<img id="imagebox" src="">
		<a download="image.png" href="" id="download" style="display: none;">Download</a>
	</form>
</div>
{% endblock %}
